<body>
    <div class="configuracion">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.paseshow.com.ar/#/">PaseShow</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/src/app/components/configurations/configurations.component.html">Configuración</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Escanear tu QR</a>
                        </li>
                    </ul>
                    <a class="nav-link active" style="padding-left: 0%;" aria-current="page" href="#">Cerrar Sesion</a>
                </div>
            </div>
        </nav>
    </div>
</body>