#body {
    background-color: black;
}

.configuracion {
    background-color: black;
}

.body {
    background-color: black;
    height: 577px;
    padding-top: 150px;
    padding-left: 40%;
}

.img-paseshow {
    width: 220px;
    height: 80px;
    background-color: black;
    background-image: url(https://www.paseshow.com.ar/images/inicio/logov3.png);
    background-size: cover;
}

@media only screen and (max-width: 600px) {

    .body {
        padding-left: 20%;
    } 
}