<app-dashboar></app-dashboar>
<div class="container-padre">
  <div class="contenido"></div>
  <zxing-scanner [torch]="torchEnabled" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder"
    ></zxing-scanner>
</div>
<div class="informacion">
  <ul>
    <li>Ubicación: {{data?.ubicacionId}}</li>
    <li>Evento: {{data?.evento}}</li>
    <li>Descuento: {{data?.descuento}}</li>
    <li>Usuario: {{data?.usuario}}</li>
    <li>Funcion: {{data?.funcion}}</li>
    <li>Fecha y Hora: {{data?.fecha}}</li>
  </ul>
</div>

<div class="container">
  <h3>{{qrCode}}</h3>
</div>


<!-- ub
event
descuento
usuario / comprador
funcion
fecha y hora -->