.container {
  background-color: black;
  height: 100%;

  .scan {
      position: relative;
      max-width: 500px;

      // qr-scanner {

      // }

      &__cuadro {
          position: absolute;
          top: 10px;
          margin-top: 5%;
          width: 200px;
          height: 200px;
          margin-left: 23%;
          border: 3px solid rgb(0, 255, 0);
      }

      &__process {
          position: absolute;
          bottom: 0;

          p {
              margin-left: 10px;
              font-weight: 600;
              font-size: 35px;
              color: rgb(36, 151, 36);
          }
      }

      &__imageAccess {

        &__ok {
          position: absolute;
          bottom: 11px;
          right: 12px;
          height: 60px;
          width: 60px;
          background-color: white;
          padding: 4px;
          border-radius: 28px;
        }

        &__faild {
          position: absolute;
          bottom: 5px;
          right: 12px;
          height: 60px;
          width: 60px;
          background-color: white;
          padding: 4px;
          border-radius: 28px;
        }
      }
  }

  .informacion {
    font-size: 16px;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;

    ul {
      margin: 0;
      padding: 10px;
      border: 2px solid black;
      border-style: solid dashed;
      border-radius: 10px;

      li::marker {
        color: white;
      }
    }

    a {
      cursor: none !important;
      font-weight: bold;
    }
  }

}



.ingresODenegado{
    height: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: white;
    p {
        margin-left: 10px;
        }
}
h5 {
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.imagenesCorrectoyDenegada {
    width: 110px;
    height: 90px;
    background-size: cover;
    margin-left: 250px;
    border-radius: 80px;
    padding-left: 33px;
    padding-top: 20px;
    position: relative;
    bottom: 63px;
}
