<body id="body">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Iniciar sesion</h5>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario">
          </div>
          <div class="form-group"> <br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
          </div> <br>
        </form>
        <button type="button" class="btn">Ingresar</button>
      </div>
    </div>
  </div>
</body>

<h1>Inicio</h1>
<div class="configuracion">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  href="">PaseShow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Configuracion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Escanea tu QR</a>
          </li>
        </ul>
        <span class="navbar-text">
          <h6>Seleccione alguna opcion para continuar</h6>
        </span>
      </div>
    </div>
  </nav>
  <div class="contenido">
    <p>PaseShow</p>
  </div>
</div>

<div class="cont" style="background-color: black;">
<h1>Configuracion</h1>
</div>
