<app-dashboar></app-dashboar>
<div class="contenido">
  <h1>Configuración</h1>
    <div class="tarjeta-conf"><br>
        <div class="badge" style="width: 1rem;">
            EVENTO:
          </div>        
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione alguna opción</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select><br>
          <div class="badge" style="width: 1rem;">
            FUNCIÓN:
          </div> 
          <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione alguna opción</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select><br>
          <div class="badge">
            SECTORES
          </div>
          <div class="checkear">
            <div class="form-check" style="padding-left: 5px;" *ngFor="let check of checksEvento;">
              <input type="checkbox" [checked]='check.checked'>
              {{check.evento}}
        </div>
    </div>
    <div class="check">
      <div class="check">
        <input #check class="form-check-input" type="checkbox" value="option1" id="blankCheckbox" (change)='checkOnClick(check.checked)'>
        <label class="form-check-label" for="flexCheckIndeterminate">
          Seleccionar Todo
        </label>
      </div>
    </div><br>
    <button type="button" class="btn btn-success">GUARDAR</button>
</div>