.contenido {
    width: auto;
    height: 800px;
    padding-top: 40px;
    padding-left: 27%;
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 18%;
}

.tarjeta-conf {
    max-width: 600px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
}

.badge {
    margin-left: 20%;
    font-size: 14px;
    color: black;
    background-color: white;
}

.form-select {
    margin-left: 28%;
    max-width: 300px;
    margin-top: 4px;
}

.checkear {
    max-width: 300px;
    height: 140px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.928);
    margin-left: 28%;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
}

.form-check {
    margin-bottom: 10px;
}

.check{
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.928);
    margin-left: 97px;
    padding-left: 1%;
    padding-top: 7px;
}

.btn {
    margin-left: 28%;
    width: 300px;
}

.card111 {
    width: 100px;
    height: 250px;
    background-color: aqua;
}

@media only screen and (max-width: 830px) {
    .contenido {
        padding-left: 15%;
    }

    h1 {
        padding-left: 27%;
    }
    
    }

@media only screen and (max-width: 602px) {
    .contenido {
        padding-left: 0%;
    }

    h1 {
        color: rgb(255, 255, 255);
        padding-left: 32%;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (max-width: 570px) {

    .tarjeta-conf {
        width: 570px;
        height: 500px;
        border-radius: 5px;
        background-color: white;
    }

    h1 {
        color: rgb(255, 255, 255);
        padding-left: 32%;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        padding-left: 25%;
    }

    .tarjeta-conf {
        width: 300px;
        height: 500px;
        margin-left: 9%;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }

    .form-select{
        width: 270px;
    }
    .badge {
    margin-left: 10%;
    color: black;
    background-color: white;
    }

    .form-select {
        margin-left: 5%;
    }

    .checkear {
        width: 270px;
        margin-left: 5%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .check {
        margin-left: 22px;
    }

    .btn {
        width: 270px;
        margin-left: 5%;
    } 
    
}